<div class="footer">
  <div>
    <div>
      <!-- Address of FoodieSquad -->
        <img src="../../assets/img/location.png"/>
        <p>Address :  
          <span>360, Hungtinton Avenue, Boston </span>
          <span>Massachusetts - 02120 </span>
        </p>
    </div>
    <div>
      <!-- Phone of FoodieSquad -->
      <img src="../../assets/img/phone.png"/>
      <p>Phone Number : 
          <a href="tel:5551234567"> 5551234567</a>
      </p>
    </div>
    <div>
      <!-- Email of FoodieSquad -->
        <img src="../../assets/img/email.png"/>
        <p><a href = "mailto: abc@example.com">Send Email</a>
        </p>
    </div>
  </div>
  <div>
    <div>
      <!-- Connected to social media -->
      <p>About FoodieSquad</p>
      <span>FoodieSquad is an application to rate the restaurants and provide feedback for others. It's the best way to tell the foodies the best food spots</span>
      <div>
          <a href="www.facebook.com"><img src="../../assets/img/facebook.png"/></a>
          <a href="www.instagram.com"><img src="../../assets/img/insta.png"/></a>
          <a href="www.twitter.com"><img src="../../assets/img/twitter.png"/></a>
      </div>
    </div>
  </div>
</div>