<main>
  <!-- background image container -->
  <div id="background"></div>
  <div>
    <!-- cards for description -->
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><img src="../../assets/img/44279873_2184562264887314_2591368157264347136_o.jpg"/></div>
      <mat-card-title>RAJAT JASWAL</mat-card-title>
      <mat-card-subtitle>Developer, Boston MA</mat-card-subtitle>
      <mat-card-subtitle>It's about you. We'd prefer to stay in the shadows, creating work that will help you attract the kinds of customers and results you're after, leaving your competitors wondering what happened, and how to catch up. That being said, the team you hire is super important – after all, we'll be spending quite a bit of time together. It also just so happens to be how we're going to justify this ginormous about page.
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
    <!-- cards for description -->
  <mat-card class="example-card">
      <mat-card-header>
          <mat-card-title>ANKIT YADAV</mat-card-title>
          <mat-card-subtitle>Developer, Boston MA</mat-card-subtitle>
          <mat-card-subtitle>It's about you. We'd prefer to stay in the shadows, creating work that will help you attract the kinds of customers and results you're after, leaving your competitors wondering what happened, and how to catch up. That being said, the team you hire is super important – after all, we'll be spending quite a bit of time together. It also just so happens to be how we're going to justify this ginormous about page.
          </mat-card-subtitle>
        <div mat-card-avatar class="example-header-image"><img src="../../assets/img/ankit.jpeg"/></div>
      </mat-card-header>
    </mat-card>
      <!-- cards for description -->
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><img src="../../assets/img/chitra.jpg"/></div>
          <mat-card-title>CHITRA PARYANI</mat-card-title>
          <mat-card-subtitle>Developer, Boston MA</mat-card-subtitle>
          <mat-card-subtitle>It's about you. We'd prefer to stay in the shadows, creating work that will help you attract the kinds of customers and results you're after, leaving your competitors wondering what happened, and how to catch up. That being said, the team you hire is super important – after all, we'll be spending quite a bit of time together. It also just so happens to be how we're going to justify this ginormous about page.
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
        <!-- cards for description -->
      <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>SRISHTI SABOO</mat-card-title>
              <mat-card-subtitle>Developer, Boston MA</mat-card-subtitle>
              <mat-card-subtitle>It's about you. We'd prefer to stay in the shadows, creating work that will help you attract the kinds of customers and results you're after, leaving your competitors wondering what happened, and how to catch up. That being said, the team you hire is super important – after all, we'll be spending quite a bit of time together. It also just so happens to be how we're going to justify this ginormous about page.
              </mat-card-subtitle>
            <div mat-card-avatar class="example-header-image"><img src="../../assets/img/srishti.jpeg"/></div> 
          </mat-card-header>
        </mat-card>
          <!-- cards for description -->
</div>
<app-footer></app-footer>
</main>
